[buildout]
parts =
    plone
    zope2
    fakezope2eggs
    productdistros
    instance
    PILwoTK
    zopepy

# Add additional egg download sources here. dist.plone.org contains archives
# of Plone packages.
find-links =
    http://download.zope.org/distribution/
    http://effbot.org/downloads
    http://pypi.python.org/pypi/SQLAlchemy
    http://svn.kmrc.de/download/distribution/
    http://dist.plone.org/
prefer-final = true
# Add additional eggs here
# elementtree is required by Plone
eggs =
    Products.PloneHotfix20110720
    Products.PloneHotfix20110531==2.0
    Products.Zope-Hotfix-20110622
    elementtree
    ipdb

# Reference any eggs you are developing here, one per line
# e.g.: develop = src/my.package

develop =
    src/tubize.skin

[plone]
recipe = plone.recipe.plone

[fakezope2eggs]
recipe = affinitic.recipe.fakezope2eggs

[PILwoTK]
recipe = zc.recipe.egg
find-links =
    http://download.zope.org/distribution/

[zope2]
recipe = plone.recipe.zope2install
url = ${plone:zope2-url}

# Use this section to download additional old-style products.
# List any number of URLs for product tarballs under URLs (separate
# with whitespace, or break over several lines, with subsequent lines
# indented). If any archives contain several products inside a top-level
# directory, list the archive file name (i.e. the last part of the URL,
# normally with a .tar.gz suffix or similar) under 'nested-packages'.
# If any archives extract to a product directory with a version suffix, list
# the archive name under 'version-suffix-packages'.
[productdistros]
recipe = plone.recipe.distros
urls =
	http://eggs.affinitic.be/LinguaPlone-2.1.1.tar.gz
nested-packages =
version-suffix-packages =

[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:xxxxxxxx
http-address = 5780
debug-mode = on
verbose-security = on

# If you want Zope to know about any additional eggs, list them here.
# This should include any development eggs you listed in develop-eggs above,
# e.g. eggs = ${buildout:eggs} ${plone:eggs} my.package

eggs =
    ${buildout:eggs}
    ${plone:eggs}
    PILwoTK
    tubize.skin

# If you want to register ZCML slugs for any packages, list them here.
# e.g. zcml = my.package my.other.package
zcml =
    celes.skin

products =
    ${productdistros:location}
    ${plone:products}

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
extra-paths = ${zope2:location}/lib/python
scripts = zopepy
